.catalog-title{
    text-align: center;
}

.pokemon-list-page{
    width:95%;
    margin-left: 2.5%;
}

.btnWrapper {
  height: 10em;
}

.btnContainer {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
}

button {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 600;
  background-color: #ED5564;
  color: white;
  border: 4px solid black;
  border-radius: 2px;
  padding: 0.7em 1em;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0.5em;
}


#btnPrevious {
  float: left;
}

#btnNext {
  float: right;
}