<!--Nav-bar-->
<app-navbar> </app-navbar>
<!--Pokemon catalog page-->
<app-container>
    <h1 class="catalog-title">Available Pokémon:</h1>
    <main class="pokemon-list-page">
      <app-pokemon
        *ngFor="let pokemon of pokemons"
        (click)="goToDetails(pokemon)"
        [pokemon]="pokemon"
      ></app-pokemon>
    </main>

    <!--Pagination buttons-->
    <section class="btnWrapper">
      <article class="btnContainer">
        <button id="btnPrevious" (click)="onPrevClick()"> Previous </button>
        <button id="btnNext" (click)="onNextClick()"> Next </button>
      </article>
    </section>
</app-container>

