<div class="name-input-section" id="title">
    <img src="https://fontmeme.com/permalink/210203/8bb4f86b0d9ccff30484df0495b2cba9.png" alt="pokemon-font" border="0" width="55%">
  </div>
  <br/>
  <form [formGroup]="trainerLoginForm">
      <div class="name-input-section">
    <input
    class="name-input"
      id="trainerName"
      name="trainerame"
      type="text"
      placeholder="What's your name?"
      formControlName="trainerName"
      (keyup.enter)= "onLogin()"
      required
      required
      minlength="2"
      required
      maxlength="20"
    />

    <button
    class="name-input-btn"
    type="button"
    (click)="onLogin()"
    >
      GO
    </button>
    </div>
    <p *ngIf="error">{{ error }}</p>
    <div
*ngIf="
        trainerName.invalid && (trainerName.dirty || trainerName.touched)
      "
    >
      <p *ngIf="trainerName.errors.required">Trainer-name is required</p>
      <p *ngIf="trainerName.errors.minlength">Trainer-name must be minimum 2 characters!</p>
      <p *ngIf="trainerName.errors.maxlength">Trainer-name must be less than 20 characters!</p>
    </div>
  </form>
