/*Styles for the login-page*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    
.name-input {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5em;
  padding: 0.3em 0.5em;
  border: 5px solid black;
  border-right: 0;
}
.name-input-btn{
  font-family: 'Noto Sans', sans-serif;
  font-size:2.5em;
  padding: 0.3em 0.5em;
  background-color: /*red;*/ #ED5564;
  color: white;
  border: 5px solid black;
  border-radius: 0;
}
.name-input-section{
display: flex;
justify-content: center;
align-items: center;
}
#title{
 margin-top: 12em;
}
#login{
 margin-top:3.5em;
}
