/* Background color: */
html{
    background-color: #CCF6EC;
}
body{
    background-color: #CCF6EC;
}
html,body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}