.pokemonStats {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: inline-block;
}

/*Styles for the pokemon details page*/
.pokemon-details-page{
    width:90%;
    margin-left: 5%;
}

.pokemon-list-card-content{
    width: 90%;
    margin-left:5%;
}

.pokemon-title{
    text-align:center;
}

.pokemon-list{
    width: 100%;
    display:inline-block;
    border: 1.5px solid black;
    box-shadow: 5px 10px 7px #b7ddd4;
    border-radius: 2px;
    margin:0;
    padding: 0;
    background-color:white;
}

li{
    margin-left: 1em;
    padding: 0.2em;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
   }

   .collect-button-container{
    display: flex;
    justify-content: center;
    align-items: center;

   }

  .collect-button {
      margin-top: 1em;
      text-transform: uppercase;
      font-weight: 600;
    background-color: #ED5564;
    color: white;
    border: 4px solid black;
    border-radius: 2px;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  .pokemon-details-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .pokemon-list-card-title{
      width: 100%;
      background-color:#ED5564;
      margin: 0;
      padding: 0;
      margin-left:0;
      height: 30%;
      color: white;
      text-align: center;
      border-bottom: 1.6px solid black;
  }

  .pokemon-height-weight-section{
      font-size:1.3em;
  }
