<!--Nav-bar-->
<app-navbar> </app-navbar>
<!--Pokemon details page-->
<div *ngIf="pokemon" class="pokemon-details-page">
    <div class="row">
       <div class="column">
          <div class="pokemon-list">
             <div class="pokemon-list-card-title">
                <h1>Base stats</h1>
             </div>
             <div class="pokemon-list-card-content">
             <img src="{{pokemon.image}}" [alt]="pokemon.name" class="pokemon-details-image"/>
             <h3 class="pokemon-title">{{pokemon.name}}</h3>
             <hr/>
             <div>
                <h5>Types</h5>
                <ul>
                   <div *ngFor="let type of pokemon.types">
                      <li><img src="../../../assets/pokeball-pokemon-svgrepo-com.svg" alt="ball" width="18px"/>  {{ type.type.name }}</li>
                   </div>
                </ul>
             </div>
             <div>
                 <br/>
                <h5>Base stats</h5>
               
                    <ul class="pokemonStats">
                        <li *ngFor="let stat of pokemon.stats">{{ stat.stat.name }}</li>
                      </ul>
              
                      <ul class="pokemonStats">
                        <li *ngFor="let stat of pokemon.stats">{{ stat.base_stat }}</li>
                      </ul>
                
             </div>
             <div class="collect-button-container">
                <button class="collect-button" (click)="collectPokemon()">Collect {{pokemon.name}}</button>
             </div>
             </div>
          </div>
       </div>
       <!--Profile-->
       <div class="column">
          <div class="pokemon-list">
             <div class="pokemon-list-card-title">
                <h1>Profile</h1>
             </div>
             <div class="pokemon-list-card-content">
                 <div class="pokemon-height-weight-section">
             <h5>⭐ Base experience: <span>{{ pokemon.base_experience }}</span></h5>
             <br/>
             <div>
                 <img src="../../../assets/height.png" alt="ball" width="20px"/>
                 Height: <span>{{ pokemon.height }}</span>
              </div>
              <div>
                 <img src="../../../assets/weight.png" alt="ball" width="20px"/>
                 Weight: <span>{{ pokemon.weight }}</span>
              </div>
             </div>
              <br/>
             <h5>Abilities</h5>
             <ul>
                <div *ngFor="let ability of pokemon.abilities">
                   <li><img src="../../../assets/pokeball-pokemon-svgrepo-com.svg" alt="ball" width="18px"/>  {{ ability.ability.name }}</li>
                </div>
             </ul>
             
             </div>
          </div>
       </div>
       <!--Moves-->
       <div class="column">
          <div class="pokemon-list">
             <div class="pokemon-list-card-title">
                <h1>Moves</h1>
             </div>
             <div class="pokemon-list-card-content">
             <ul>
                <div *ngFor="let move of pokemon.moves | slice:0:15">
                   <li> <img src="../../../assets/pokeball-pokemon-svgrepo-com.svg" alt="ball" width="18px"/> {{ move }}</li>
                </div>
             </ul>
          </div>
          </div>
       </div>
    </div>
 </div>
 