/* Styles for the nav */
nav{
    width: 100%;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccf6d7;
    border-bottom: 0.09em solid black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.2em;
  }
  
  li a:hover {
    background-color: #f6eccc;
    color: black;

  }
  
 
