<!--Navbar-->
<nav>
    <ul>
      <li><a routerLink="/trainer"><img src="../../../assets/pikachu.svg" alt="pikachu" width="20px"/>  Trainer page</a></li>
      <li class="catalog"><a routerLink="/pokemon-catalog"><img src="../../../assets/pokeball-pokemon-svgrepo-com.svg" alt="ball" width="20px"/>  Pokémon Catalog</a></li>
      <li style="float:right" ><a (click)="loginService.logout()" ><img src="../../../assets/logout.png"  width="20px"/>  Log out</a></li>
    </ul>
</nav>
