.catalog-title{
    text-align: center;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}

.pokemon-list{
    width: 15%;
    display:inline-block;
    border: 1px solid black;
    box-shadow: 5px 10px 7px #b7ddd4;
    border-radius: 2px;
    margin:0.5em;
    padding: 0.5em;
    background-color:white;
}

.pokemon-name{
    width:100%;
    color: black;
    text-align: center;
}
a{
    color: black;
}

.pokemon-list-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
