
    <div class="pokemon-list">
          <img [src]="pokemon.image" [alt]="pokemon.name" class="pokemon-list-image" />
          <div class="pokemon-name"><h4>{{pokemon.name}}</h4></div>    
    </div>