<!--Nav-bar-->
<app-navbar> </app-navbar>
<!--Trainer-page-->
<div class="pokemon-trainer-page">
    <p *ngIf="error">{{ error }}</p>
    <img src="https://www.proshop.no/Images/Poke_pokemans-min.png" class="pokemon-image"/>
    <h1>Hello {{trainerName}}! 🤩</h1>
    <!--If user has collected Pokémon-->
    <h4 *ngIf="pokemons.length">Here is your collected Pokémon:</h4>
    
    <!--If no collected pokemon-->
    <h4 *ngIf="!pokemons.length">You have not collected any Pokémon 😢</h4>

    <main class="pokemon">
      <app-pokemon
        *ngFor="let pokemon of pokemons"
        (click)="goToDetails(pokemon)"
        [pokemon]="pokemon"
      ></app-pokemon>
    </main>
</div>
